.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: $full-height / 4;
  align-items: center;
  padding: $bar-padding;
  
  .title {
    color: $white-color;
    font-size: 12pt;
  }

  img {
    padding: 0 0.3rem;
  }
}

.is-active-header-color {
  background-color: $active-color;
}

.default-header-color {
  background-color: $default-color;
}