.container {
  margin: 0;
  background-color: $medium-blue-color;
  height: 36px;
  width: 145px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 8px;
  border-radius: 3px;
}
.dragIconWrapper {
  position: relative;
  top: 2px;
}
.dragIcon {
  height: 14px;
}

.button {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  background-color: #466271;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 9px;
}
.buttonIconWrapper {
  position: relative;
  top: -2px;
}
.buttonIcon {
 width: 8px;
 height: 8px;
}

.on {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  margin-left: 4px;
}

.clear {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: $dark-blue-color;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 7px;
}
.clearIconWrapper {
  position: relative;
  top: -2px;
}
.clearIcon {
  width: 7px;
  height: 7px;
 }

 .duration {
  margin-left: 16px;
 }
 .duration p {
   color: $white-color;
   font-size: 12px;
 }