$quater-less-opacity: 0.75;
$full-opacity: 1;
$full-width: 100vw;
$full-height: 100vh; 

// Digits
$digit-height: 2.5rem;
$digit-width: 2.06rem;
$digit-font-size: 1.5em;

// Border
$border-radius: 0.4em;

// Footer
$footer-font-size: 0.8em;
$footer-height: 50px;


$bar-padding: 0 0.5rem;

// Header

// Play Button
$play-button-height: 40px;
$play-button-width: 40px;
$play-button-radius: 40px;