.play-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  background-color: $default-color;
  @include play-button-size;
}

.active-play-button{
  background-color: $active-color;
}