.duration-wrapper{
  height: $full-height / 2;
  background-color: $white-color;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Mono', monospace;
}
.divider {
  background-color: $white-color;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    color: $default-color;
  }
  
  .is-divider-active {
    color: $active-color;
  }
}