.footer {
  display: flex;
  padding: $bar-padding;
  flex-direction: column;
  justify-content: center;
  height: $full-height / 4;
  background-color: $light-gray-color;
  width: $full-width;
  bottom: 0;
  position: fixed;

  p {
    display: flex;
    color: $default-color;
    font-size: $footer-font-size;
    padding: 0;
    margin: 1px
  }

  .passing-time{
    font-weight: bold;
  }
}
