.digit {
  height: 40px;
  width: 33px;
  background-color: $default-color;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1px;

  span {
    color: $white-color;
    font-size: 19pt;
  }
}

.isDigitActive{
  background-color: $active-color;
}