body {
  margin: 0;
  font-family: 'Avenir', sans-serif;
}

p {
  font-size: 12px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}